.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-footer{
    background-color: #D98880;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}



address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
    background: #85C1E9;
}

.navbar-inverse {
     background: #B03A2E;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #9A7D0A;
    background: #B03A2E;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #9A7D0A;
    background: #B03A2E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: black;
    color:#9A7D0A;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#B03A2E;
}

.carousel {
    background:white;
}

.carousel-caption h2 {
color: #E74C3C;
}

.carousel .item {
  height: 450px;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    max-width: inherit;
}